#archive .panel-heading {
    width: 100%;
}

#share {
    margin-top: 1em;
}

#share .btn {
    height: 3em;
    width: 3em;
}

#share .btn img {
    margin: auto;
}

img {
    max-width: 100%;
    height: auto;
}
