<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
			        data-toggle="collapse"
			        data-target="#menu_top">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="menu_top" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li><a href="#"><span
						class="glyphicon glyphicon-shopping-cart"></span>
					Fredshop</a></li>
				<li><a href="#"><span
						class="glyphicon glyphicon-gift"></span>
					Geschenke</a></li>
				<li><a href="#"><span
						class="glyphicon glyphicon-envelope"></span>
					Post</a></li>
			</ul>
		</div>
	</div>
</nav>
