<div class="page-header">
	<h3>{{ page.title }}
		<small class="pull-right">{{ iso_date }}</small>
	</h3>
</div>

{% assign num_posts = site.posts | size %}
{% assign p = page.previous %}
{% for i in (1..num_posts) %}
{% if p.categories contains lang %}{% assign prev = p %}{% break %}
{% else %}{% assign p = p.previous %}{% endif %}
{% endfor %}
{% assign p = page.next %}
{% for i in (1..num_posts) %}
{% if p.categories contains lang %}{% assign next = p %}{% break %}
{% else %}{% assign p = p.next %}{% endif %}
{% endfor %}
<ul class="pager">
	{% if prev.url %}
	<li class="previous"><a href="{{ prev.url }}"
	                        title="{{ prev.title }}">&laquo;
		{{ prev.title }}</a></li>
	{% endif %}
	{% if next.url %}
	<li class="next"><a href="{{ next.url }}"
	                    title="{{ next.title }}">{{ next.title }}
		&raquo; </a>
	</li>
	{% endif %}
</ul>
