<!DOCTYPE html>
<html lang="de">
<head>
	{% assign iso_date = page.date | date_to_xmlschema | split: 'T' | first %}
	<meta charset="utf-8"/>

	<title>{{ site.title }} - {{ page.title }}</title>

	<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="/css/comic.css" type="text/css"/>
</head>

<body>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		{% include menu_top.html %}
		{% include page_header.html %}
	</div>
</div>

<div class="row">
	<div class="col-md-offset-3 col-md-1">
		{% include menu_archive.html %}
	</div>

	<div class="col-md-offset-0 col-md-4">
		{% assign year = iso_date | split: '-' | first %}
		{% assign base_url = 'http://www.fonflatter.de/' | append: year %}
		{% if page.categories contains 'en' %}
		{% assign base_url = base_url | append: 'e' %}
		{% endif %}
		{% assign img_url = base_url | append: '/fred_' | append: iso_date %}
		{% assign img_ext = '.png' %}
		{% assign img_url = img_url | append: img_ext %}

		<a href="{{ img_url }}">
			<img src="{{ img_url }}" title="{{ page.mouseover }}"/>
		</a>

		{{ content }}

		<div id="share" class="text-center">
			<div class="btn-group">
				{% assign share_url = site.url | append: page.url %}
				<a class="btn btn-default disabled"><span
						class="glyphicon glyphicon-share-alt"></span></a>
				<a class="btn btn-default" role="button"
				   href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}"><img
						src="https://icons.duckduckgo.com/ip2/facebook.com.ico"/></a>
				<a class="btn btn-default" role="button"
				   href="https://twitter.com/share?url={{ share_url }}"><img
						src="https://icons.duckduckgo.com/ip2/twitter.com.ico"/></a>
				<a class="btn btn-default" role="button"
				   href="https://plus.google.com/share?url={{ share_url }}"><img
						src="https://icons.duckduckgo.com/ip2/plus.google.com.ico"/></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>

</body>
</html>
